#description {
    background-color: var(--background-color);
    padding: 10px;
}

@media (min-width:700px) {
    #description {
        display: grid;
        grid-template-columns: 2fr 300px;
    }
}

#description figure {
    margin: 0;
}

#data-form table {
    box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
    border-collapse: collapse;
}

tr th,
tr td {
    text-align: right;
    padding: 5px;
}

table tr th[scope="row"] {
    width: 150px;
}

table tr:hover th[scope="row"] {
    background-color: var(--primary-dark-color);
    color: white;
}

table tr:hover td {
    background-color: var(--dark-background-color);
}

input[type="text"] {
    width: auto;
    margin-left: 10%;
    text-align: right;
}

.input-container {
    line-height: 1.5;
}

.input-container.error input {
    -webkit-box-shadow: 0px 0px 5px 2px var(--error-color);
    -moz-box-shadow: 0px 0px 5px 2px var(--error-color);
    box-shadow: 0px 0px 5px 2px var(--error-color);
}

#point-x-input.error::before {
    content: "Input must be a number between -3 and 5.";
    color: var(--error-color);
}


#submit-button {
    margin-top: inherit;
    width: 100%;
}

#submit-button:hover {
    cursor: pointer;
}
