table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

table thead {
    border-bottom: 1px solid black;
}

table tbody td {
    text-align: center;
}

table td:not(:first-child),
table th:not(:first-child) {
    border-left: 1px solid black;
}

table tbody tr:nth-child(odd) td {
    background-color: var(--dark-background-color);
}

table tbody tr:hover td {
    background-color: var(--primary-dark-color);
    color: white;
}

.error-message {
    padding: 5px;
    width: 100%;
    color: var(--error-color);
    background: var(--background-color);
}