@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
    background-color: white;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--dark-background-color);
    height: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 20px 20px;
}

body > *:not(:first-child) {
    margin: 20px 0 0;
}

body > header {
    margin: -20px -20px 0;
}

header {
    font-family: monospace;
    color: var(--text-on-primary-color);
    background-color: var(--primary-color);
    box-sizing: border-box;
    font-size: 15px;
}

header > * {
    padding: 5px 20px;
}

header h1, header h2 {
    margin: 0;
}

figcaption {
    font-style: italic;
    text-align: center;
}

table th {
    background-color: var(--primary-color);
}

table td {
    background-color: var(--background-color);
}

button {
    background-color: var(--primary-color);
    color: var(--text-on-primary-color);
    font-size: large;
    padding: 5px;
    border: 0;
}

button:hover {
    background-color: var(--primary-dark-color);
    color: white;
}
