.simple-window.container {
    width: 100%;
    box-sizing: border-box;
    transition: height 0.25s ease-in, margin 0.25s ease-out;
    -moz-transition: height 0.25s ease-in, margin 0.25s ease-out;
    -webkit-transition: height 0.25s ease-in, margin 0.25s ease-out;
    overflow: hidden;
}

.simple-window.container > .top-bar {
    background-color: var(--primary-color);
    min-height: 35px;
}

.simple-window.container > .top-bar > .title {
    display: inline-block;
    min-height: inherit;
    box-sizing: border-box;
    padding: 5px 10px;
}

.simple-window.container > .top-bar > button.close {
    float: right;
    width: 30px;
    min-height: inherit;
}

.simple-window.container > .content {
    background-color: var(--background-color);
}

.simple-window.container.closed {
    height: 0 !important;
    margin: 0;
}